<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="https://www.gstatic.com/firebasejs/10.12.0/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/10.12.0/firebase-messaging-compat.js"></script>
<script>
const firebaseConfig = {
  apiKey: "AIzaSyAoAti_pMh-keTxz3-UCYt3LrOljkvp9to",
  authDomain: "poll-app-bfe92.firebaseapp.com",
  projectId: "poll-app-bfe92",
  storageBucket: "poll-app-bfe92.firebasestorage.app",
  messagingSenderId: "1041150842496",
  appId: "1:1041150842496:web:c430f58cbd82ddf4d23865",
  measurementId: "G-W39CZ4Y67E"
};

firebase.initializeApp(firebaseConfig);
const messaging = firebase.messaging();


if ('serviceWorker' in navigator) {
  navigator.serviceWorker.register("{{ url_for('static', filename='firebase-messaging-sw.js') }}")
    .then((registration) => {
      messaging.useServiceWorker(registration);
      console.log("Service Worker registered successfully");
    }).catch((err) => {
      console.error("Service Worker registration failed", err);
    });
}

function initNotifications() {
  Notification.requestPermission().then((permission) => {
    if (permission === 'granted') {
      console.log('Notification permission granted.');
      

      messaging.getToken({ vapidKey: 'BIhMsucb3v8gurKdJa-Cv_K5s7xNnynIWicCuTmRPNRvx0V1M_YTkL6_vR4LH6a2scj7OBsvzhamF2eiQFavYlA' })
        .then((currentToken) => {
          if (currentToken) {
            console.log("Token generated:", currentToken);

            sendTokenToServer(currentToken);
          } else {
            console.log('No registration token available. Request permission to generate one.');
          }
        }).catch((err) => {
          console.log('An error occurred while retrieving token. ', err);
        });
    }
  });
}
</script>
</script>
</head>
<body>
<div class="container">
<h2>Dashboard</h2>
<script src="{{ url_for('static', filename='script.js') }}"></script>
<script>checkAuth();</script>
<button onclick="goToPoll()">Start Poll</button>
<button onclick="goToVote()">Vote</button>
<button onclick="goToResult()">Results</button>
</div>
<script>
  if(localStorage.getItem("user_id")){
    initNotifications();
  }
</script>
</body>
</html>
